.container {
    margin: auto;
    font-style: italic;
  }
  body{
    width: 100%;
    margin: auto;
  }
  
  img {
    width: 100%;
    height: 250px;
  }
  .left {
    width: 65%;
    display: inline-block;
    box-sizing: border-block;
    float: left;
    box-shadow: 5px 3px 20px 3px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .right {
    width: 31%;
    box-sizing: border-block;
    display: inline-block;
    float: left;
    box-shadow: 5px 3px 20px 3px;
     margin-bottom: 10px;
  }
  .boxes {
    width: 32%;
    box-sizing: border-block;
    display: inline-block;
    float: left;
    box-shadow: 5px 3px 20px 3px;
    margin-right: 7px;
    margin-bottom: 20px;
  }
  .clr {
    clear: both;
  }
  figure {
    margin: 0;
  }
  article {
    width: 80%;
    text-align: center;
    padding-left: 40px;
    padding-bottom: 20px;
    color: skyblue;
    font-style: bold;
    font-size: 17px;
  }
  button {
    width: 100%;
    padding: 5px;
    background-color: #8ae6db;
  }
  .top-part {
    margin-top: 20px;
    margin-left: 20px;
  }
  .bottom-part {
    margin-left: 20px;
    margin-top: 10px;
  }
  button:hover {
    background-color: skyblue;
    color: white;
  }
  
  